$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.tea-display-group {
  display: inline;
}

.tea-display-titles {
  font-weight: bold;
}

.handlebars-container {
  text-align: center;
}

#tea-table {
  width: 100%;
}

th, td {
    padding: 3px;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(51, 25, 14);
  font-family: 'Kaushan Script', cursive;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
}

table, th {
    background: rgb(150, 176, 140);
}

tr:hover {
  background-color: rgb(197, 232, 202);
}

.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  transform: scale(1, -1);
}

.hiddenRow {
    padding: 0 !important;
}

#countdown-timer {
  font-size: 36px;
}

#timer-done-message {
  font-size: 90px;
  color: green;
  font-family: 'Fredoka One', cursive;
  animation: seesaw 2s ease infinite, blinker 1s linear infinite, colorchange 2s ease infinite;
}

@keyframes blinker {
  0% { opacity: .75;}

  50% { opacity: 1;}

  100% { opacity: .75;}
}

@keyframes colorchange {
  0% { color: rgb(254, 239, 114);}
  25% { color: rgb(224, 153, 65);}
  50% { color: rgb(254, 239, 114);}
  75% { color: rgb(131, 202, 58);}
  100% { color: rgb(254, 239, 114);}
}

@keyframes seesaw {
  0% { transform: rotateY(-30deg); }
  25% { transform: rotate(7deg); }
  50% { transform: rotateY(30deg); }
  75% { transform: rotate(-7deg); }
  100% { transform: rotateY(-30deg); }
}

#time {
  color: rgb(92, 78, 255);
}

.edit-delete-btns {
  margin: 6px 50px !important;
}

.options-row {
  background-color: rgb(128, 112, 77);
}

.update-cell {
  margin-right: 20px;
}

body {
  background-image: url('../images/elegant-bg.png');
  font-family: 'Open Sans', sans-serif;
}

#timer-container {
  text-align: center;
}

#create-tea-container {
  padding: 5px;
  background: rgb(150, 176, 140);
  display: inline-block;
}

#clear-space {
  margin-top: 200px;
}

#status-box {
  text-align: center;
}

#tea-message {
  text-align: center;
}

#instructions {
  float: right;
  font-size: 16px;
}

#options-btn {
  float: right;
}

.btn {
  box-shadow: 0 3px 0 0 rgb(60, 60, 60);
  margin-bottom: 3px;
}

.btn:active {
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

#auth-buttons {
  margin: 5px 0;
}

.btn-auth {
  background: rgb(92, 110, 140);
  color: white;
}

.btn-auth:hover {
  color: rgb(204, 216, 237);
}

.btn-auth:focus {
  color: rgb(204, 216, 237);
}

.btn-delete {
  background: rgb(107, 23, 21);
  color: white;
}

.btn-delete:hover {
  color: rgb(255, 200, 199);
}

.btn-delete:focus {
  color: rgb(255, 200, 199);
}

.btn-tea-success {
  background: rgb(69, 145, 69);
  color: white;
}

.btn-tea-success:hover {
  color: rgb(221, 237, 221);
}

.btn-tea-success:focus {
  color: rgb(221, 237, 221);
}

.btn-steep {
  background: rgb(110, 127, 110);
  color: white;
}

.btn-steep:hover {
  color: rgb(208, 213, 208);
}

.btn-steep:focus {
  color: rgb(208, 213, 208);
}

select {
  text-align: center;
  text-align-last: center;
}
